body {
    
    background: url(content-writing1.jpg) ;
    background-repeat: no-repeat;
    background-position: right 0px;
    background-size: 100%;

    
}

.content {
    margin-left: 200px;
    margin-top: 50px;
    width: 600px;
    line-height: 30px;

}



