/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
} */

.search-container {
    position: relative;
}

.search-bar {
    width: 150px;
    height: 35px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 8px;
    right: 12px;
    width: 20px;
    height: 20px;
    background: url('search5.png') center/cover no-repeat; 
    /* Replace 'search-icon.png' with your search icon image */
    transition: all 0.3s ease;
    cursor: pointer;
}

.search-bar:focus + .search-icon {
    transform: scale(1.2);
    cursor: pointer;
}